/*main*/

body{
    padding: 0px;
    margin: 0;
}
header{
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: rgb(216, 216, 216);
}

.back-barra{
    background-image: linear-gradient(rgba(255, 255, 255, 0.562), rgba(185, 185, 185, 0.486));
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
}

.cad{
    font-family: "Bebas Neue", serif;
    text-align: center;
    height: 50px;
    width: 100px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    left: 60%;
    bottom: 25px;
    padding: 0px;
    color: rgb(0, 0, 0);
    background-color: #6f9b98;
    transition: transform 0.5s;
}

.entrar{
    font-family: "Bebas Neue", serif;
    text-align: center;
    height: 50px;
    width: 100px;
    display: inline-block;
    border-radius: 5px;
    position: relative;
    left: 60%;
    bottom: 25px;
    padding: 0px;
    color: whitesmoke;
    background-color: #053D38;
    transition: transform 0.5s;
}

.barra-e{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100px;
    height: 100%;
    background-color: rgb(240, 240, 240);
}

.user{
    position: relative;
    left: 15%;
    top: 2%;
    align-items: center;
    align-content: center;

}

.soc{
    position: relative;
    top: 86%;
    left: 25px;
    width: 50%;
    height: auto;
}

.points{
    position: relative;
    bottom: 20px ;
    display: inline-block;
    padding: 0px;
}

.icon2{
    display: inline-block;
    position: relative;
    top: 20px;
    width: 150px;
    padding: 0px;

}

.card{
    position: absolute;
    align-items: center;
    align-content: center;
    text-align: center;
    left: 60%;
    bottom: 15%;
    height: 700px;
    width: 600px;
    border: solid 1px black;
    background-image: linear-gradient(rgb(0, 40, 43),rgb(0, 138, 148), rgb(159, 207, 211));
}

.bem{
    padding: 20px;
    font-family: "Bebas Neue", serif;
    font-style: normal;
    color: rgb(0, 138, 148);
}

h3{
    color: rgb(0, 0, 0);
    position: relative;
    left: 250px;
    top: 50px;
    display: inline-block;
    font-family: "Bebas Neue", serif;
    font-size: 20px;
    font-style: normal;
}

h1{
    position: relative;
    left: 200px;
    top: 100px;
    display: inline-block;
    font-family: "Bebas Neue", serif;
    font-size: 80px;
    font-style: normal;
    color: rgb(0, 0, 0);

}

.vol{
    font-family: "Bebas Neue", serif;
    font-size: 20px;
    font-style: normal;
    background-color: rgb(82, 141, 151);
    color: rgb(0, 0, 0);
    position: absolute;
    text-align: center;
    right: 75%;
    bottom: 20%;
    height: 70px;
    width: 250px;
    border-radius: 5px;
    transition: transform 0.5s;
}

.doe{
    font-family: "Bebas Neue", serif;
    font-size: 40px;
    font-style: normal;
    background-color: rgb(28, 81, 90);
    color: whitesmoke;
    position: absolute;
    text-align: center;
    right: 50%;
    bottom: 20%;
    height: 70px;
    width: 250px;
    border-radius: 5px;
    transition: transform 0.5s;
}

.doe:hover{
    transform: scale(1.2);
}

.vol:hover{
    transform: scale(1.2);
}

.cad:hover{
    transform: scale(1.2);
}

.entrar:hover{
    transform: scale(1.2);
}





/*cadastro.html*/

.blue{
    padding: 0px;
    top: 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
}

.numsei{
    position: absolute;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    top: 400px;
    left: 37%;
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
}

.form-input {
    position: relative;
    border-radius: 10px;
    top: 50px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

.cada{
    position: relative;
    padding: 10px;
    top: 70px;
    height: 50px;
    width: 300px;
    border-radius: 10px;
    font-family: "Bebas Neue", serif;
    align-items: center;
    align-content: center;
    text-align: center;
    border: 0px;
    color: whitesmoke;
    font-size: 30px;
    background-color: #2d504d;
    text-decoration: none;
}

.o{
    color: rgb(0, 0, 0);
    position: relative;
    left: 34%;
    top: 150px;
    font-family: "Bebas Neue", serif;
    font-size: 80px;
    font-style: normal;

}

.logi{
    position: absolute;
    width: 400px;
    top: 310px;
}




/*Entrar.html*/




/*pageUser.html*/

.page{
    position: fixed;
    inset: 0px;
    width: 50rem;
    height: 55rem;
    max-width: 100vw;
    max-height: 100dvh;
    margin: auto;
    border-radius: 15px;
    background-color: #053D38;

}

.usu{
    position: relative;
    width: 130px;
    top: 40px;
    left: 41%;
}

.name{
    position: relative;
    width: 48.7rem;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    top: 200px;
    background-color: whitesmoke;
}

.numero{
    position: relative;
    width: 48.7rem;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    top: 250px;
    background-color: whitesmoke;
}